.quote-wrap
  width: 60vw
  font-family: 'Inconsolata', monospace
  // background: $primary-color
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  padding: 50px 30px


  .quote-text
    text-align: center
    line-height: 2
    margin-bottom: 50px
    font-size: 24px

    span
      font-size: 30px
      margin-right: 15px



  .quote-author
    text-align: right
    font-size: 20px

  @media (max-width: 640px)
    width: 80vw

    .quote-text
      font-size: 20px

      span
        font-size: 20px

    .quote-author
      font-size: 15px

  .buttons
    display: flex
    justify-content: space-between
    position: absolute
    left: 100%
    top: 100%
    transform: translate(-50%)


    button
      margin: 30px 30px
      cursor: pointer
      transition: all 150ms ease-in-out

      font-family: 'Inconsolata', monospace
      font-size: 18px
      font-weight: 400

      padding: 5px 10px
      background: transparent
      border: black solid 1px

      &:hover
        transform: scale(1.1)
        box-shadow: -2px 3px 2px rgba(black, 0.3)

    @media (max-width: 640px)
      position: fixed
      margin: 50px 0
      padding: 5px
      left: 50%
      top: 100%
      transform: translate(-50%, -50%)
