.title
  position: absolute
  top: 10%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  font-family: 'Homemade Apple', 'cursive'

  @media (max-width: 640px)
    font-size: 45px
    line-height: 1.14
