doctype html
html
  head

    link(rel="stylesheet", href="assets/fonts/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="#" type="text/css")
    |<!--build:css assets/css/main.min.css  -->
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet" href="#" type="text/css")
    |<!-- endbuild -->
    meta(name="viewport" content="width=device-width" charset="utf-8")
    title Random Quote Generator

  body
    .home-wrap
      include ./title.pug
      include ./quote-box.pug
      include ./new-quote-button.pug



    script(src="#")
    |<!--build:js assets/js/main.min.js  -->
    script(src="assets/js/lib/jquery-2.2.2.min.js")
    script(src="assets/js/main.js")
    |<!-- endbuild -->
