.quote-wrap
  .quote-text#quote-text <span class="fa fa-quote-left" aria-hidden="true"></span> You talking to me?

  .quote-author - Taxi Driver

  .buttons
    button(type="button").twitter-share-button Tweet
    button(type="button").new-quote New Quote
